<%- include("partials/header") -%>

<!--get all the saved files -->
<% for(let i = 0 ; i<files.length;i++) { %>

<div class="card w-75 file-entity">
    <div class="card-body">
        <h5 class="card-title"><%= files[i].fileName %></h5>
        <p class="card-text"><%= files[i].file.substring(0,100) %></p>
        <!--view all saved files in card view -->
        <form action="/view-file" method="POST" class="view-full-file">
            <button class="btn btn-lg btn-secondary" type="submit" name="fileID" value="<%=files[i]._id%>">
                View Full File
            </button>
        </form>
        <form action="/delete-file" method="post" class="delete-file">
            <button class="btn btn-lg btn-danger delete-btn" type="submit" name="fileID" value="<%=files[i]._id%>">
                Delete File
            </button>
        </form>
    </div>
</div>
<% } %>


<!--create brand new file -->
<form action="/view-files" method="POST">
    <button type="submit" class="btn btn-lg btn-secondary make-file">Create File</button>
</form>

<%- include("partials/footer") -%>